.bg-darki {    
    background:black;
}

.row{
   border: 1px;
   color: rgb(253, 253, 253);     
}

.border-radius--right{
    border-radius: 4px 0 0 4px!important;
    margin-left: 20px!important;
}

.border-radius--left{
    border-radius: 0 4px 4px 0!important;
}

.btn-close-color{
    color: light!important;
}

